@font-face {
  font-family: "hakidame";
  src: url("~@/assets/fonts/hakidame.woff2") format("woff2"),
    url("~@/assets/fonts/hakidame.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
